{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ Pluto X. Liu }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ She/They }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ PhD student at the University of Otago, New Zealand }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      <!-- Font Awesome icons / Biographic information  -->
      {% if author.location %}
        <li class="author__desktop"><i class="fa-solid fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ Dunedin, New Zealand }}</li>
      {% endif %}
      {% if author.employer %}
        <li class="author__desktop"><i class="fa fa-solid fa-building-columns icon-pad-right" aria-hidden="true"></i>{{ University of Otago }}</li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ liu.pluto@gmail.com }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}

      <!-- Font Awesome and Academicons icons / Academic websites -->   
      {% if author.googlescholar %}
        <li><a href="{{ https://scholar.google.com/citations?user=vziJcCcAAAAJ&hl=en }}"><i class="ai ai-google-scholar icon-pad-right"></i>Google Scholar</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ https://orcid.org/0000-0002-1625-1053 }}"><i class="ai ai-orcid ai-fw icon-pad-right"></i>ORCID</a></li>
      {% endif %}  

      <!-- Font Awesome icons / Social media -->
      {% if author.bluesky %}
        <li><a href="https://bsky.app/profile/{{ @plutoxliu.bsky.social }}"><i class="fab fa-fw fa-bluesky icon-pad-right" aria-hidden="true"></i>Bluesky</a></li>
      {% endif %} 
    </ul>
  </div>
</div>
